#topheading{
  background-color: green;
  text-align: center;
  color: white;
  padding: 0.1px;
}
#bottumheading{
    display: flex;
    /* background-color: aqua; */
    height: 50px;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.leftheading{
    display: flex;
    gap: 10px;
    
    /* border: none; */
    /* background-color: black; */
}
#headingimg{
    height: 60%;
    align-items: center;
}

.dropbtn {
    /* background-color: #04AA6D; */
    /* color: white; */
    /* padding: 16px; */
    font-size: 16px;
    border: none;
  }
  
   .dropdown { 
    position: relative;
    display: inline-block;
  } 
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* z-index: 1; */
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {color: rgb(29, 235, 115);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
  
#container{
    width: 80%;
    height: auto;

    display: flex;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-content: center; */
    gap: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    /* background-color: #efefea; */
}
#container>div{
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.containerimg{
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
}
.containerimg:hover{
    height: 350px;
    width: 360px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
}
.btn:hover{
    color: white;
    background-color: green;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border:none;

}
.btn{
    width: 100%;
    font-size: 15px;
    border:none; 
    text-decoration: none;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;


    
}
#footer{
    height: 200px;
    background-color: rgba(49, 113, 4, 0.605);
    justify-content: space-around;
    display: flex;
    padding-top: 30px;
    font-weight: bold;
}
#line{
    text-align: center;
    padding: 20px;
    gap: 10px;
    color: black;
    display: flex;
    margin: auto;
    justify-content: center;
    color: black;
}

